name: Deploy Express App to Cloud Run Functions

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/deploy-backend.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. WIF를 사용하여 Google Cloud 인증
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: '${{ secrets.GCP_WIF_PROVIDER }}'
          service_account: '${{ secrets.GCP_SA_EMAIL }}'

      - id: 'deploy'
        name: 'Deploy to Cloud Run Functions via gcloud'
        run: |
          gcloud functions deploy express-api-service \ 
            --gen2 \
            --runtime=nodejs20 \
            --region=asia-northeast3 \
            --entry-point=itoAuth \
            --source=backend \
            --trigger-http \
            --allow-unauthenticated \
            --set-secrets="NODE_ENV=NODE_ENV:latest,ORIGIN_URL=ORIGIN_URL:latest,GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID:latest,GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET:latest"
          
      - name: 'Show Function URL'
        run: echo ${{ steps.deploy.outputs.url }}